In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import cv2
from PIL import Image
%matplotlib inline

In [3]:
import pickle

In [4]:
ls

Data Cropping.ipynb                  f_01.png
Data Preprocessing.ipynb             female/
Data structuring.ipynb               haarcascade_frontalface_default.xml
Exercise 1.ipynb                     male/
Exercise 2.ipynb                     male_000281.jpg
VideoExercise.ipynb                  test2.jpg
crop/                                video.mp4
dataframe_images_100_100.pickle

In [5]:
df = pickle.load(open('./dataframe_images_100_100.pickle','rb'))

In [6]:
df.head()

,gender,0,1,2,3,4,5,6,7,8,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,female,126,116,104,97,98,95,85,79,81,...,142,143,147,151,156,152,157,162,165,167
1,female,221,221,221,221,221,222,224,225,223,...,160,37,27,31,14,59,159,106,51,150
3,female,35,35,37,41,41,40,44,43,27,...,34,34,34,34,34,34,34,34,34,33
4,female,53,60,71,59,38,38,52,63,55,...,84,84,84,84,84,84,84,84,84,85
5,female,18,19,21,21,19,17,18,25,34,...,71,73,73,72,80,86,84,89,93,99

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5461 entries, 0 to 6058
Columns: 10001 entries, gender to 9999
dtypes: object(1), uint8(10000)
memory usage: 52.2+ MB

In [8]:
#checking for missing values
df.isnull().sum()

gender    0
0         0
1         0
2         0
3         0
         ..
9995      0
9996      0
9997      0
9998      0
9999      0
Length: 10001, dtype: int64

# Data Preprocessing
- Remove missing values
- Data normalization(min max scaling)

In [9]:
df.dropna(axis=0, inplace=True)

In [10]:
df.isnull().sum()

gender    0
0         0
1         0
2         0
3         0
         ..
9995      0
9996      0
9997      0
9998      0
9999      0
Length: 10001, dtype: int64

In [12]:
#split into 2 parts
x = df.iloc[:,1:].values #inpendent features
y = df.iloc[:,0].values #dependent

In [13]:
x.shape

(5461, 10000)

# Min Max scaling
Xnorm  = $\frac {x - minValue} {maxValue - minValue}$

In [14]:
x.min(), x.max()

(0, 255)

In [17]:
Xnorm = x/x.max()

In [18]:
Xnorm

array([[0.49411765, 0.45490196, 0.40784314, ..., 0.63529412, 0.64705882,
        0.65490196],
       [0.86666667, 0.86666667, 0.86666667, ..., 0.41568627, 0.2       ,
        0.58823529],
       [0.1372549 , 0.1372549 , 0.14509804, ..., 0.13333333, 0.13333333,
        0.12941176],
       ...,
       [0.84705882, 0.84705882, 0.84705882, ..., 0.26666667, 0.28627451,
        0.27843137],
       [0.44313725, 0.58039216, 0.60392157, ..., 0.97647059, 0.9372549 ,
        0.81568627],
       [0.04705882, 0.04313725, 0.05882353, ..., 0.12941176, 0.11372549,
        0.10980392]])

In [19]:
Xnorm.shape

(5461, 10000)

In [20]:
y

array(['female', 'female', 'female', ..., 'male', 'male', 'male'],
      dtype=object)

In [22]:
#female = 1
#male = 0
Ynorm = np.where(y == 'female',1,0)

In [23]:
# saving x and y in numpy zip
np.savez('./data_100_100_norm', Xnorm, Ynorm)